<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
</head>
<body>
    <form name="profile_form", action="licz_profile" method="post">
        <label>Nowy profil</label>
        <input size="1" type="text", id="profil", name="profil" value={{profil}}>

        <label>&ensp;&ensp;Zapas</label>
        <input size="1" type="text", id="zapas", name="zapas" value={{zapas}}>

        <label>&ensp;&ensp;Granica</label>
        <input size="1" type="text", id="granica", name="granica" value={{granica}}><br><br><br>

        {% block zlecenie %}
        {% endblock %}

        <input type="submit", value="Tnij profile">
    </form>

    <br>
    <button onclick="redirectToMain()">Wyczyść wszystko</button>

    <script>
        function redirectToMain() {
            window.location.href = '/';
        }
    </script>
    

    {% block result %}
    {% endblock %}
</body>