<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
</head>
<body>
    <form name="profile_form", action="licz_profile" method="post">
        <label>Nowy profil</label>
        <input size="1" type="text", id="profil", name="profil">

        <label>&ensp;&ensp;Zapas</label>
        <input size="1" type="text", id="zapas", name="zapas">

        <label>&ensp;&ensp;Granica</label>
        <input size="1" type="text", id="granica", name="granica"><br><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc1" name="dlugosc1">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka1" name="sztuka1"><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc2" name="dlugosc2">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka2" name="sztuka2"><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc3" name="dlugosc3">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka3" name="sztuka3"><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc4" name="dlugosc4">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka4" name="sztuka4"><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc5" name="dlugosc5">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka5" name="sztuka5"><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc6" name="dlugosc6">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka6" name="sztuka6"><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc7" name="dlugosc7">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka7" name="sztuka7"><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc8" name="dlugosc8">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka8" name="sztuka8"><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc9" name="dlugosc9">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka9" name="sztuka9"><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc10" name="dlugosc10">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka10" name="sztuka10"><br><br>

        <label>Długość [mm]</label>
        <input size="1" type="text", id="dlugosc11" name="dlugosc11">
        <label>Ilość sztuk</label>
        <input size="1" type="text", id="sztuka11" name="sztuka11"><br><br>

        <input type="submit", value="Tnij profile", id="submit_btn">
    </form>



    {% block result %}
        
    {% endblock %}
</body>